* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex; /* Use flexbox to arrange map and chart side by side */
}

#container {
  display: flex;
  flex-direction: row; /* Arrange map and chart horizontally */
  width: 100vw;
  height: 100vh;
}

#mapid {
  flex: 2; /* Take up available space */
  height: 100%;
  width: 30%;
}

#chart-container{
  flex: 1; /* Take up available space */
  height: 50%;
  width: 30vw;
  /* display: flex; Center content horizontally and vertically */
  justify-content: center;
  align-items: center;
}

