html,
body,
#viewDiv {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

#infoDiv {
  background: white;
  padding: 10px;
}

table td {
  padding: 3px;
}

table.popup td.num {
  text-align: right;
}

table.popup tr.head {
  text-align: center;
  font-weight: bold;
  background-color: rgba(50, 50, 50, 0.08);
}

.table-container {
  width: 100%;
  height: 100%;
  text-align: center;
}

table {
  margin: 0 auto;
}
