section {
  height: 500px;
  background-color: #310354;
  border: solid grey 1px;
  color: aliceblue;
}

.hero {
  background-color:#390e40;
  height: 100vh;
  color: white;
  font-size: 40px;
}

.footer {
  background-color:#140216;
  height: 500px;
}

nav {
  display: flex;
}

ul {
  width: 100px;
}



